.idea
plugin
node_modules
.DS_Store
*.sass-cache*
www/public/wp-content/uploads/
www/public/wp-content/wflogs
www/public/core
www/vendor
mysqldb
style.css
www/public/content/plugins/*
# If you manually create a plugin, add !/public/content/plugins/your-plugin so it is not ignored